.displaynote-mainContainer{
    position: absolute;
    left: 15rem;
    top: 20rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


@media only screen and (min-width: 768px) and (max-width:1024px) {
    .displaynote-mainContainer {
        grid-template-columns: 1fr 1fr;
        left: 10rem;
        top: 19rem;
    }
}



@media only screen and (min-width: 360px) and (max-width:640px) {
    .displaynote-mainContainer {
        grid-template-columns: 1fr;
        left: 6rem;
        top: 15rem;
    }
}