$display: flex;
$size: small;
$width:350px;
$margin-top:1rem;
$border-bottom:1px solid black !important;

@mixin  input($size) {
    font-size: $size;
    margin-left: 20px;
}

@mixin collab-btn($display){
    display: $display;
    flex-direction: row-reverse;
    cursor: pointer;
    .collab-btn-cnt{
        display: $display;
        justify-content: space-around;
        width: 220px;
    }
}
@mixin collab-data($width){
    width:$width;
    display: $display;
    justify-content: space-between;
}

.name-txt{
    @include input(medium);
}

.email-txt{
    @include input(small);
    margin-top: -1rem;
    color:gray;
    margin-left:6rem;
}
.intro{
    margin-top: $margin-top;
    display:$display;
  
}



    .add{
        @include collab-data (45px);
        height:40px;
      
        border-color: black 4px;
    }
    .search_text{
        text-decoration: none;
       
       
    
    }
    .search{
        @include collab-data (20rem);
        display:$display;
  
        margin-left:2rem;
        margin-right: 2rem;
    }

    .MuiFormControl-root{
        @include collab-data (15rem);
        text-decoration: none !important;
        margin-top: $margin-top;
       
    }
    .MuiAvatar-colorDefault{
        border: 2px solid gray;
        color: black !important;
        background-color: white !important;
    }

    .add >.MuiAvatar-root{
        margin-left: 0rem !important;
    }

    .search > .MuiFormControl-root{
        margin-left: 0.2rem !important;
        margin-right: 1rem;
        margin-top: 0.5rem !important;
        font-size: 0.9rem !important;
        
    }
    
    .css-e53awj-MuiStack-root{
        z-index: 1000;
    margin-top: 1rem;
    margin-left:5.8rem;
    position: fixed;
    width:20% !important;
}



.MuiList-padding{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    }

 
    .MuiPaper-elevation1{
        width:90% !important;
       
    }


    .menulist > .MuiMenuItem-root{
        border-bottom: $border-bottom;
       
    }

    

    