#root{
  height: 100%;
  width:100%;
  overflow: hidden;
}

.applogo {
  display: flex;
  font-size:1.5rem;
  margin-left: 5%;
  margin-top: 4rem;

}
.applogo > p{
 
  line-height: 0px;
  font-weight: 500;

}

.first{
  color:#1a73e8;
}
.second{
  color:red;
}
.third{
  color:rgb(231, 201, 31);
}
.fourth{
  color:#1a73e8;

}
.fifth{
  color: green;
}
.sixth{
  color:orangered;
}
.account-logo{

  width: 17vw;
  

}

.AppDiv{

  height :100vh;
  width:75vw;
  display:flex;
  align-self: center;
  justify-content: center;
  border-color: grey;
}
.body{
  display: grid;
  grid-template-rows: max-content;
  align-self: center;
  height:100vh;
  width:51vw;
  margin-left: 30%;
}

.Main{
  display:flex;
  height: 88vh;
  width: 50vw;
  justify-content: center;
  border-radius: 20px;
  margin-top: 1%;
  border: lightgray 1px solid;
}

.heading{
  margin-left: 5%;
  font-size: 1.5rem;
  line-height: 4rem;
}

.subhead{
  margin-left: 5%;
  font-size:1rem;
}



.left-sec{
  display:flex;
  flex-direction: column;
  width: 72%;
}

.right-sec{
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  width: 28%;
  padding-right: 6rem;
}

.name{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3%;
  margin-top: 5%;
  margin-left: 5%;
  width: 25vw;
  color: #000;
}

.User-Name{
  margin-left: 5%;
  margin-top: 5%;

}
.user{
  width: 25vw;
}

.credentials{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3%;
  margin-left: 5%;
  margin-top: 5%;
  width: 25vw;
}

.checkbox{
  margin-left: 5%;
  margin-top: 5%;

}

.bottom-text , .user-text{
  font-size: 0.8rem;
  color: gray;
 
}
.bottom-text{
  margin-left: 5%;
}

.acclogo-text{
  font-size: 0.9rem;
  margin-left: 15%;
}


.last-sec{
  margin-top: 10%;
  display: grid;
  grid-gap:40%;
  grid-template-columns: 1fr 1fr;

}

.text{
  font-size: 0.9rem;
  font-weight: 500;

  margin-left: 15%;
  cursor: pointer;
  color: rgb(40, 129, 231);
}

.Next-button{
  height:5vh;
  width:5vw;
  
 
}

.footer{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:40%
}

.right-foot > div{
  font-size: 0.8rem;
  color:grey;
  word-spacing: 2.5rem;
  cursor: pointer;
}
