.head{
    margin-top:7rem;
    height: 70vh;
    width: 30vw;
    justify-content: center;
    border-radius: 20px;
    border: lightgray 1px solid;
  }
  

.logo {
    display: flex;
    justify-content: center;
    font-size:1.5rem;
    margin-left: -1%;
    margin-top: 1rem;
  
  }
  .logo > p{
   
    line-height: 0px;
    font-weight: 500;
  
  }
  
  .first{
    color:#1a73e8;
  }
  .second{
    color:red;
  }
  .third{
    color:rgb(231, 201, 31);
  }
  .fourth{
    color:#1a73e8;
  
  }
  .fifth{
    color: green;
  }
  .sixth{
    color:orangered;
  }
   
  .head-text{
      display: flex;
      justify-content: center;
     font-size: 1.6rem;
    line-height: 3rem;
  }

  
  .subhead-text{
    display: flex;
    justify-content: center;
    font-size:1.1rem;
    margin-bottom:2rem;
  }

  .email-phone,.password{
  margin-left:8%;
  margin-right: 9%;
  }

  .forgot-email{
    font-weight: 500;
    line-height: 1.8rem;
    font-size:0.95rem;
    margin-left:10%;
    cursor: pointer;
    color: rgb(22, 122, 236);
  }
  .forgot-password{
    font-weight: 500;
    line-height: 1.5rem;
    font-size:0.95rem;
    margin-left:10%;
    cursor: pointer;
    color: rgb(22, 122, 236);

  }

  .learn{
    cursor: pointer;
    color: rgb(22, 122, 236);
    font-weight: 500;
    font-size:0.9rem;
    margin-left:9%;
  

  }
  
  .mid-text{
    cursor: pointer;
    font-size:0.95rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    color: rgb(95, 95, 95);

  }

  .last-section{
    margin-top: 10%;
    margin-left: 8%;
    display: grid;
    grid-gap:40%;
    grid-template-columns: 1fr 1fr;
  
  }

  .create-account,.f-email,.f-pass{
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    color: rgb(22, 122, 236);
  }
  


  .Next-button{
    height:5vh;
    width:5vw;

  }
  

  
@media screen and (min-width: 360px) and (max-width: 640px) {

    .head{
        width: 100vw;
        margin-top: 5rem;
        border:none;
    }

    .mid-text{
        
    font-size: 0.7rem;
    }
    .learn{
        margin-left: 10%;
    }
    .last-section{
        grid-gap: 32%;
    }

  
  
  }
  
  
  
  @media screen and (min-width: 768px) and (max-width: 1024px){
  
    .head{
        height: 65vh;
        width: 70vw;
    }

    .mid-text{
        margin-right: 3.5rem;
    }
   
  
  }
  
  
  @media screen and (min-width: 240px) and (max-width: 320px){
  
    .head{
        margin-top: 1rem;
         width: 100vw;
        border:none;
    }
    .head-text{
        font-size: 1.3rem;
        line-height: 2rem;
    }
    .subhead-text{
        font-size: 0.9rem;
    }

    .logo{
        font-size: 1.3rem;
        margin-top: 0rem;
    }

    .mid-text{
        font-size: 0.7rem;
        margin-left: 6%;
    }

    .learn{
        font-size: 0.8rem;
        margin-left: 10%;
    }
    
    .last-section
    {
        margin-top: 5%;
        grid-gap: 21%;
    }

    
}