.header{
    margin-top:7rem;
    height: 65vh;
    width: 30vw;
    justify-content: center;
    border-radius: 20px;
    border: lightgray 1px solid;
  }
  
.fundoo-logo {
    display: flex;
    justify-content: center;
    font-size:1.5rem;
    margin-left: -1%;
    margin-top: 1rem;
  
  }
  .fundoo-logo > p{
   
    line-height: 0px;
    font-weight: 500;
  
  }

  
  .first{
    color:#1a73e8;
  }
  .second{
    color:red;
  }
  .third{
    color:rgb(231, 201, 31);
  }
  .fourth{
    color:#1a73e8;
  
  }
  .fifth{
    color: green;
  }
  .sixth{
    color:orangered;
  }

  .header-text{
    display: flex;
    justify-content: center;
   font-size: 1.6rem;
  line-height: 3rem;
}

.subheader-text{
  display: flex;
  justify-content: center;
  font-size:1rem;
  margin-bottom:2rem;
}

.MuiInputLabel-root {
  font-size: 0.85rem  !important;
}


.phonenumber-email{
  margin-left:8%;
  margin-right:9%;
  }


.end{
  display: flex;
  justify-content: end;
  padding:3rem;
}

.Next-button{

  height:5vh;
  width:5vw;

}


@media screen and (min-width: 360px) and (max-width: 640px) {

  .header{
  height: 50vh;
  width: 100vw;
  border:none;
  }

  .subheader-text{
    font-size: 0.8rem;
  }

  .end{
    padding: 2rem;
  }


}



@media screen and (min-width: 768px) and (max-width: 1024px){

  .header{
    height: 50vh;
    width: 60vw;
  }
  
.phone {
    width: 50vw;
}

  .Next-button{

    height:5vh;
    width:12vw;
  
  }



}


@media screen and (min-width: 240px) and (max-width: 320px){

  .header{
    margin-top: 4rem;
    height: 70vh;
    width: 100vw;
    border:none;
  }

  .subheader-text{
    font-size: 0.75rem;
  }
  .end{
    padding: 2rem;
  }
  .Next-button{

    height:7vh;
    width:12vw;
  
  }

}
