.header2 {
  width: 100vw;
  height: 20vh;
  margin-left: 10rem;

}
.form{
    height:25vh !important;
}
#form1, #form2 {
  position: relative;
  top: 8%;
  left: 25%;
  width: 38vw;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 1px 7px rgb(128, 128, 128);
}

.forminput1 {
  left: 25%;
  width: 35vw;
  outline: none;
  border: none;
  font-size: 16px;
  resize: none;
}
.Notesicon{
    display: contents;
}
.forminput2{
  outline: none;
  position: relative !important;
  border: none;
  font-size: 1rem;
  width: 27vw;
  color:black !important;
  text-align: left;
}


.forminput-2{
  outline: none;
  position: relative !important;
  border: none;
  font-size: 0.9rem;
  width: 27vw;
  color:black !important;
  font-weight: 500;
  text-align: left;
  margin-top: 1rem;
}

.textarea{
  color: black !important;
}


.IconButton{
    cursor: pointer;
}



.css-1e6y48t-MuiButtonBase-root-MuiButton-root{
color:black !important;
bottom: 0.45rem !important;
font-weight: 500 !important;
position: absolute !important;
margin-right: -6rem !important;
}
/* display: flex !important;
width:170%; */ 



.notes-icons{
 display: flex !important;
 width:78%;
justify-content: end !important;
}





@media screen and (min-width: 768px) and (max-width: 1024px){

  #form1,#form2{
      width : 50vw;
      left: 18%;
     }
  
     .paint{
         display:none !important;
     }
}

@media screen and (min-width: 360px) and (max-width: 640px){

#form1,#form2 {
  left: -1%;
  width: 100vw;
}
.forminput2,.forminput-2 {
  display: flex;
  width: 50vw;
  height: 3rem;
}
.list{
  display:none !important;
}

.Notesicon{
  display:none;
}

.css-1pz7awu-MuiButtonBase-root-MuiIconButton-root{
  margin-right: 0.4rem !important;
}

#form1,#form2{
top:-30% !important;

}

}