.header2 {
  width: 100vw;
  height: 20vh;
  margin-left: 10rem;

}
.form{
    height:25vh !important;
}
#form1, #form2 {
  position: relative;
  top: -1rem;
  left: 25%;
  width: 38vw;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 1px 7px rgb(128, 128, 128);
}
#form1{
  min-height:3.2rem !important;


}
#form2{
  min-height:10.2rem !important;
 
}
#form2 > p{
  height:5rem;
}

.forminput1 {
  left: 35% !important;
  margin-top: 0.5rem;
  width: 35vw;
  outline: none;
  border: none;
  font-size: 16px;
  resize: none;
  margin-left:1.1rem !important;
  font-size: 1.1rem;

}
.Notesicon {
    display: contents;
}

.Notesicon > button{
  margin-left:1.2rem ;

}
.forminput2{
  outline: none;
  position: relative !important;
  border: none;
  font-size: 1.1rem;
  width: 25vw;
  color:black !important;
  margin-left: 1rem !important;
  text-align: left;
  margin-top: 1rem;
}


.forminput-2{
  outline: none;
  position: relative !important;
  border: none;
  font-size: 1.1rem;
  width: 30vw;
  margin-left: 1rem !important;
  color:black !important;
  font-weight: 500;
  text-align: left;
  margin-top: 1rem;
}
.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  font-weight: bolder !important;
}



.textarea{
  color: black !important;
}


.IconButton{
    cursor: pointer;
}

.takenote-avatar > .MuiAvatar-root {
  margin-left: 0.3rem !important;
  width: 2rem !important;
  height:2rem !important;
  background-color: purple !important;
        color:gray!important;
}



.css-1e6y48t-MuiButtonBase-root-MuiButton-root{
color:black !important;
bottom: 0.45rem !important;
position: absolute !important;
margin-right: -6rem !important;
}
/* display: flex !important;
width:170%; */


.MuiButtonBase-root{
  font-weight: bolder;
}



.notes-icons{
 display: flex !important;
 width:78%;
justify-content: end !important;
}
.common-icons{
  margin-top: 2rem;
}

.user-display{
  display:flex;
  margin-left:0.9rem;
}





@media screen and (min-width: 768px) and (max-width: 1024px){

  #form1,#form2{
      width : 65vw;
      left: 10%;
     }
     
  
     .paint{
         display:none !important;
     }
     .MuiButton-text{
       margin-right: -4.2rem !important;
       padding: 0 !important;
     }
     .css-8u39c-MuiTypography-root{
       display:contents !important;
     }
     .css-1kcggdq-MuiInputBase-root{
       display:none !important;
     }
     .css-1iz4iln{
       margin-left: 9rem !important;
     }
     .forminput2{
       width: 18rem;
     }
     .forminput-2{
       width:27rem;
     }
     .common-icons{
      margin-top: -2rem;
    }
}

@media screen and (min-width: 360px) and (max-width: 640px){

#form1,#form2 {
  left: -1%;
  width: 100vw;
}


.forminput2 {

  width: 50vw;
  padding:0;
}
.forminput-2 {
  display: flex;
  width: 16rem;
  margin-top: 1rem;
  padding:0;
}

.list{
  display:none !important;
}

.Notesicon{
  display:none;
}

.css-1pz7awu-MuiButtonBase-root-MuiIconButton-root{
  margin-right: 0.4rem !important;
}

#form1,#form2{
top:-30% !important;

}
#form2{
height:10.5rem !important;
}
.notes-icons{
  margin-left: 5rem;
}
.common-icons{
  margin-top: -2rem;
}

}