.MuiAppBar-root {
    background-color: white !important;
}

.css-10hburv-MuiTypography-root {
    font-size: -.85rem !important;
}

.css-19z1ozs-MuiPaper-root-MuiAppBar-root {
    color:black !important;
}